name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  checks: write
  pull-requests: write

jobs:
  contracts:
    name: Contracts
    uses: multiversx/mx-sc-actions/.github/workflows/contracts.yml@f4db3dce60381ac2ed9504a22dcd1b796850345f
    with:
      rust-toolchain: 1.86.0
      mx-scenario-go-version: v3.0.0
      enable-interactor-tests: true
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
